
@{
    ViewBag.Title = "Mein Bereich";
}

<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>Mein Bereich</h1>
        <span>Hallo Michael Zeitlwiga</span>
        <ol class="breadcrumb">
            <a href="~/User/Logout" class="button button-rounded button-large button-light tright"><i class="icon-line-arrow-right"></i><span>White</span></a>
        </ol>
    </div>

</section>

