@{
    ViewBag.Title = "Passwort ändern";
    <script src="~/scripts/security.js" type="text/javascript"></script>
    <style>
        .help-block {
            display: block !important;
        }

        .rowline {
            margin-bottom: 20px;
        }
    </style>
}

<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>Passwort ändern</h1>
        <span>Mein Bereich</span>
        <ol class="breadcrumb hidden-xs hidden-sm">
            <a href="~/User/Logout" class="button button button-border nomargin button-rounded" style="position: relative; top: -12px;">Ausloggen</a>
        </ol>
    </div>

</section>
<section class="dark" style="padding: 80px;">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12">
            <form id="changePw" method="post" action="~/MySpace/ChangeUserPw/">
                <div class="clearfix rowline">
                    <div class="col_one_third nobottommargin">
                        <span class="labelProfilChange">Altes Passwort:</span>
                    </div>
                    <div class="col_two_third col_last nobottommargin">
                        <input type="password" data-validation="length" data-validation-length="min5" name="password" class="form-control input-md" data-validation-error-msg="Das Passwort muss aus mindestens 5 Zeichen bestehen" />
                    </div>
                </div>
                <div class="clearfix rowline">
                    <div class="col_one_third nobottommargin">
                        <span class="labelProfilChange">Neues Passwort:</span>
                    </div>
                    <div class="col_two_third col_last nobottommargin">
                        <input type="password" name="pass_confirmation" data-validation="length" data-validation-length="min5" class="form-control input-md" data-validation-error-msg="Das Passwort muss aus mindestens 5 Zeichen bestehen"></div>
                </div>
                <div class="clearfix rowline">
                    <div class="col_one_third nobottommargin">
                        <span class="labelProfilChange">Passwort wiederholen:</span>
                    </div>
                    <div class="col_two_third col_last nobottommargin">
                        <input type="password" name="pass" data-validation="confirmation" class="form-control input-md" data-validation-error-msg="Das Passwort stimmt nicht überein!">
                    </div>
                </div>
                <div class="col_one_third">
                </div>
                <div class="col_two_third col_last">
                    <div id="resultChange"></div>
                </div>
                <div class="coll_full">
                    <input type="submit" class="button button-rounded button-large nobottommargin fright" value="ändern" />
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        $.validate({
            modules: 'security',
            form: '#changePw',
            showErrorDialogs: true,
            borderColorOnError: 'red',
            onSuccess: function ($form) {
                return true;
            },
            onError: function ($form) {
                return false;
            },
            onElementValidate: function (valid, $el, $form, errorMess) {
                if (!valid) {
                    $el.prev().css("color", "red");
                } else {
                    $el.prev().css("color", "#BBBBBB");
                }
            }
        });
    })

    $(document).ready(function () {
        $parmResult = GetURLParameter("result");
        if ($parmResult != "") {
            if ($parmResult == "True") {
                $("#resultChange").html('<div class="style-msg successmsg"><div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Passwort wurden erfolgreich geändert!</strong></div></div>');
            } else if ($parmResult == "False") {
                $("#resultChange").html('<div class="style-msg errormsg"><div class="sb-msg"><i class="icon-remove"></i><strong>Upps. </strong> Passwort konnten nicht geändert werden.</div></div>');
            }
        }
    })

    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
</script>


